{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Password
Change{% endblock title %} {% block content %}
<h1 class="text-3xl font-bold mb-4">Password change</h1>
<p class="mb-6 text-gray-700">
  Please enter your old password, for security's sake, and then enter your new
  password twice so we can verify you typed it in correctly.
</p>

<form method="POST" class="space-y-6">
  {% csrf_token %} {{ form|crispy }}

  <input
    class="w-full bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
    type="submit"
    value="Change my password"
  />
</form>
{% endblock content %}
