{% extends "base.html" %}

{% block navigation %}
    <nav class="bg-gray-800 text-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <a href="{% url 'home' %}" class="text-2xl font-bold text-white">Cookbook-Pro</a>
                <div class="flex space-x-4">
                    <a href="{% url 'home' %}"
                       class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="{% url 'login' %}"
                       class="text-white px-3 py-2 rounded-md text-sm font-medium border border-gray-300 hover:bg-gray-700">Log in</a>
                    <a href="{% url 'signup' %}"
                       class="text-white px-3 py-2 rounded-md text-sm font-medium bg-blue-600 hover:bg-blue-700">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock navigation %}
