{% extends "private/base.html" %}

{% block navigation %}
    <nav class="bg-gray-800 text-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <a href="{% url 'home' %}" class="text-2xl font-bold text-white">Cookbook</a>
                <div class="flex space-x-4">
                    <a href="{% url 'home' %}"
                       class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="{% url 'recipes' %}"
                       class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Recipes</a>
                    <!-- User Menu Dropdown -->
                    <div class="relative">
                        <button type="button"
                                class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                                aria-expanded="false"
                                aria-haspopup="true">{{ user.username }}</button>
                        <div class="absolute right-0 w-48 mt-2 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 hidden"
                             id="user-menu">
                            <a href="{% url 'password_change' %}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Change password</a>
                            <form method="post" action="{% url 'logout' %}" class="logout-form">
                                {% csrf_token %}
                                <button type="submit"
                                        class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock navigation %}

{% block extra_js %}
    <script>
        const dropdownButton = document.querySelector('[aria-haspopup="true"]');
        const dropdownMenu = document.getElementById("user-menu");

        dropdownButton.addEventListener("click", () => {
            dropdownMenu.classList.toggle("hidden");
        });
    </script>
{% endblock extra_js %}
